#Archivos Binarios
*.exe
*.class
#Archivos temporales de editores
*.log
*.tmp
*.swp
#Editores de Compilacion
/build/
/target/
#Imagenes
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.svg
*.webp
#Audio
*.mp3
*.wav
*.ogg
*.flac
*.m4a
*.aac
*.wma
